<%- include('partials/header') %>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Password</th>
      <th scope="col">Date/Time</th>
    </tr>
  </thead>
  <tbody>
    <% credentials.forEach((credential, index) => { %>
    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td><%= credential.userName %></td>
      <td><%= credential.passcode %></td>
      <td><%= credential.created_date.toLocaleString() %></td>
    </tr>
    <% }) %>
  </tbody>
</table>
<%- include('partials/footer') %>
